<% layout('/layouts/boilerplate')%>
<div class="row mt-3">
  <div class="col-8 offset-2">
    <br /><br />
    <h3>Create a New Listing</h3>
    <form method="POST" action="/listings" novalidate class="needs-validation">
      <div class="mb-3">
        <label for="title" class="form-label">Title : </label>
        <input
          name="listing[title]"
          type="text"
          placeholder="Enter Title"
          class="form-control"
          required
        />
        <div class="valid-feedback">Title Looks Good!</div>
        <div class="invalid-feedback">Title Must be Required!</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description : </label>
        <textarea
          name="listing[description]"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Please enter a short description!</div>
      </div>

      <div class="mb-3">
        <label for="imageUrl" class="form-label">Image URL : </label>
        <input
          name="listing[image]"
          placeholder="Enter image URL/Link"
          class="form-control"
        />
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price : </label>
          <input
            name="listing[price]"
            type="number"
            placeholder="1200"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Price should be valid!</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country : </label>
          <input
            name="listing[country]"
            type="text"
            placeholder="India"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Country Name should be valid!</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location : </label>
        <input
          type="text"
          name="listing[location]"
          placeholder="Jaipur, Rajasthan"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Location should be valid!</div>
      </div>
      <button class="btn btn-dark add-btn mt-3">Add</button>
      <br /><br />
    </form>
  </div>
</div>
